<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="post" th:action="@{/silbaram/login}">
    <div>
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required autofocus>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="button">카카오로그인</button>
    </div>
    <div>
        <a href="">아이디찾기</a>
        <a href="">패스워드찾기</a>
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function() {
        let message = "[[${msg}]]";
        if (message != "") {
            alert(message);
        }else {
        }
    })
</script>
</body>
</html>