<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보수정</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        div.hidden {
            display: none;
        }
    </style>
</head>
<body>

<h1>회원정보수정</h1>
<ul>
    <li>
        <a href="/silbaram/index">홈</a>
    </li>
    <li th:if="${session.mid}">
        <a href="/silbaram/mypage/membermodify">회원정보 수정</a>
    </li>
    <li th:if="${session.mid}">
        <a href="/silbaram/mypage/mybooks">서재</a>
    </li>
</ul>

<form th:action="@{/silbaram/mypage/membermodify}"  th:object="${memberDTO}"  method="post" name="frmMemberInsert">

    <div>
        <label for="phoneNumber">전화번호:</label>
        <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" required />
    </div>
    <div>
        <label for="email">이메일:</label>
        <input type="email" id="email" th:field="*{email}" required />
    </div>
    <div>
        <label for="zipcode">우편번호:</label>
        <input type="text" id="zipcode" th:field="*{zipcode}" />
    </div>
    <div>
        <label for="address">주소:</label>
        <input type="text" id="address" th:field="*{address}" />
    </div>
    <div>
        <button type="submit" onclick="checkModify()">회원정보 수정</button>
    </div>
</form>
<script type="text/javascript">
    function checkModify() {
        $.ajax({
            url: "/silbaram/mypage/membermodify",
            type: "POST",
            data: $("form[name=frmMemberInsert]").serialize(),
            success: function (data) {
                // Display an alert box if the member information is successfully updated
                alert("회원정보가 성공적으로 업데이트 되었습니다.");
            },
            error: function (data) {
                // Display an alert box if there is an error during the update process
                alert("회원정보 업데이트에 실패하였습니다.");
            }
        });
    }
</script>

</body>

</html>