<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>서재</title>
</head>
<body>
<h1>My Book List</h1>

<form method="get" th:action="@{/silbaram/mypage/mybooks}" th:object="${}">
    <label for="keyword">검색어</label>
    <input type="text" th:field="${keyword}" id="keyword" required />
    <button type="submit">검색</button>
</form>

<table>
    <thead>
    <tr>
        <th>이미지</th>
        <th>제목</th>
        <th>작가</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td><img th:src="@{${book.bookImg}}"/>이미지</td>
        <td th:text="${book.name}">제목</td>
        <td th:text="${book.writer}">작가</td>
    </tr>
    </tbody>
</table>

</body>
</html>

