<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- JavaScript 코드 -->
<script>
  const latestBtn = document.querySelector('#latest-btn');
  const alphaBtn = document.querySelector('#alpha-btn');

  latestBtn.addEventListener('click', function() {
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          // 요청이 성공적으로 완료되었을 때의 처리
          const responseData = JSON.parse(xhr.responseText);
          // responseData를 이용하여 화면을 업데이트하거나 필요한 처리를 수행한다.
        } else {
          // 요청이 실패했을 때의 처리
          console.error(xhr.status);
        }
      }
    };

    // GET 방식으로 /list 요청을 보내고, sortType=recent 매개변수를 추가한다.
    xhr.open('GET', '/mypage/mybooks?sortType=recent');
    xhr.send();
  });

  alphaBtn.addEventListener('click', function() {
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          // 요청이 성공적으로 완료되었을 때의 처리
          const responseData = JSON.parse(xhr.responseText);
          // responseData를 이용하여 화면을 업데이트하거나 필요한 처리를 수행한다.
        } else {
          // 요청이 실패했을 때의 처리
          console.error(xhr.status);
        }
      }
    };

    // GET 방식으로 /list 요청을 보내고, sortType=alpha 매개변수를 추가한다.
    xhr.open('GET', '/mypage/mybooks?sortType=spell');
    xhr.send();
  });
</script>
</body>
</html>