<!DOCTYPE html>
<html>
<head>
    <title>E-book 서재</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS 파일 링크 -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="row">
    <!-- 책 1 -->
    <div class="book">
        <div class="cover">
            <img src="book1.jpg" alt="Book 1">
        </div>
        <div class="title">책 제목 1</div>
        <div class="writer">저자 1</div>
        <div class="play-button">
            <audio controls>
                <source src="audio1.mp3" type="audio/mpeg">
            </audio>
        </div>
    </div>
    <!-- 책 2 -->
    <div class="book">
        <div class="cover">
            <img src="book2.jpg" alt="Book 2">
        </div>
        <div class="title">책 제목 2</div>
        <div class="author">저자 2</div>
        <div class="play-button">
            <audio controls>
                <source src="audio2.mp3" type="audio/mpeg">
            </audio>
        </div>
    </div>
    <!-- 책 3 -->
    <div class="book">
        <div class="cover">
            <img src="book3.jpg" alt="Book 3">
        </div>
        <div class="title">책 제목 3</div>
        <div class="author">저자 3</div>
        <div class="play-button">
            <audio controls>
                <source src="audio3.mp3" type="audio/mpeg">
            </audio>
        </div>
    </div>
</div>

</body>
</html>
