<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.silbaram.dao.MyBookListDAO">

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
        INSERT INTO `orderlist` (`bookId`, `memberId`, `totalPrice`, `orderNum`)
        VALUES
            (#{bookId}, #{memberId}, #{totalPrice}, #{orderNum});
    </insert>

<!-- 최근구매순 조회 -->
    <select id="selectAllMyBooks" resultType="com.project.silbaram.vo.OrderListVO">
        SELECT o.*, b.`name` AS bookName, b.`writer` AS writerName
        FROM `orderlist` o
                 JOIN `book` b ON o.bookId = b.bkid
        WHERE o.`memberId` = #{memberId}
        ORDER BY `orderDate` DESC;
    </select>

<!--  가나다순 조회  -->
    <select id="selectAllMyBooksBySpellASC" resultType="com.project.silbaram.vo.OrderListVO">
        SELECT o.*, b.`name` AS bookName, b.`writer` AS writerName
        FROM `orderlist` o
                 JOIN `book` b ON o.bookId = b.bkid
        WHERE o.`memberId` = #{memberId}
        ORDER BY b.`name` ASC;
    </select>

<!--  검색  -->
    <select id="getOrderByMemberAndKeyword" resultType="com.project.silbaram.vo.OrderListVO">
        SELECT o.*, b.`name` AS bookName, b.`writer` AS writerName
        FROM orderlist o
                 JOIN book b ON o.bookId = b.bkid
        WHERE o.memberId = #{memberId}
          AND b.name LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY o.orderDate DESC
    </select>

    <sql id="search">
        <where>
            <if test="types != null and types.length > 0">
                and
                <foreach collection="types" item="type" open="(" close=")" separator=" OR">
                    <if test="type == 'n'.toString()">
                        book.name like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'w'.toString()">
                        book.writer like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'nw'.toString()">
                        book.name like concat('%', #{keyword}, '%')
                        OR
                        book.writer like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getCount" resultType="int">
        select count(orderlist.oid)
        from `orderlist`
        join `book` on orderlist.bookId = book.bkid
        <include refid="search"></include>
    </select>

</mapper>